<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
    <%= form.label :body, "Comment:", class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control' %>
  </div>
  <div class="row p-0 m-0">
    <span class="col my-2">
      <%= form.label :author, "Name:", class: 'form-label' %>    
    </span>
    <span class="col-10 my-2">
      <%= form.text_field :author, class: 'form-control' %>    
    </span>
    <%= form.submit "Create comment", disable_with: 'creating...', 
                    class: 'btn btn-secondary mt-1' %>
  </div>
<% end %>