<div class="article-content">
<div class="p-1 row mb-4 mx-auto" style='width: 85%;'>
  <div class="col">
    <h2 class="float-start me-2"><%= @article.title %></h2>
    <% @article.tags.each do |tag| %>
      <%= link_to tag_path(tag) do %>
        <span class="badge rounded-pill bg-info"><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
  <div class="col-3">
    <div class="btn-group float-end" role="group" aria-label="Article control buttons">
        <%= link_to root_path, class: 'btn btn-secondary' do %>
          <i class="bi bi-house"></i>
        <% end %>
        <%= link_to edit_article_path(@article), class: 'btn btn-secondary' do %>
          <i class="bi bi-pencil-square"></i>
        <% end %>
        <%= link_to article_path(@article), class: 'btn btn-secondary',
                    method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
    </div>  
  </div>
</div>


<article class="p-2 w-75 m-auto" ><%= @article.body %></article>

<hr class='my-5'>

<section class="w-50 row m-auto">
  <h4 class="">Comments</h4>
    <%= render @article.comments%>
</section>

<hr class="my-5">

<section class="w-50 row m-auto">
  <h4 class="row">Add comment</h4>
  <%= render 'comments/form' %>
</section>
</div>