<h2 id="article-title"><%= @article.title %></h2>

<article id="article-body" ><%= @article.body %></article>

<div id="article-btn-group">
  <ul>
    <li class="article-btn">
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Edit", edit_article_path(@article) %>
    </li>
    <li>
      <%= link_to "Delete", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
</div>

<section id="index-comments-section">
  <h3 id="index-comment-header">Comments:</h3>
  <%= render @article.comments %>
</section>

<section id="add-comment-section">
  <h3 id="add-comment-header">Add a comment:</h3>
  <%= render 'comments/form' %>
</section>