<div class="article-content">
<div class="p-1 w-75 row mb-4 mx-auto">
  <div class="col me-5">
    <h2 class=""><%= @article.title %></h2>
  </div>
  <div class="col ms-5">
    <div class="btn-group start-100" role="group" aria-label="Article control buttons">
        <%= link_to root_path, class: 'btn btn-secondary' do %>
          <i class="bi bi-house"></i>
        <% end %>
        <%= link_to edit_article_path(@article), class: 'btn btn-secondary' do %>
          <i class="bi bi-pencil-square"></i>
        <% end %>
        <%= link_to article_path(@article), class: 'btn btn-secondary',
                    method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
    </div>  
  </div>
</div>


<article class="p-2 w-75 m-auto" ><%= @article.body %></article>

<hr class='my-5'>

<section class="w-50 row m-auto">
  <h4 class="">Comments</h4>
    <%= render @article.comments%>
</section>

<hr class="my-5">

<section class="w-50 row m-auto">
  <h4 class="row">Add comment</h4>
  <%= render 'comments/form' %>
</section>
</div>